* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5b7db1;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1a132f;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.website-header {
  width: 80%;
  max-width: 1200px;
  margin: 24px auto 0 auto;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;
}

.calendar {
  width: 32px;
  height: 32px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: 720px) {
  .calendar {
    width: 64px;
    height: 64px;
  }
}

.calendar > #calendarMonth {
  border-radius: 4px 4px 0px 0px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  color: #fff;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

@media (min-width: 720px) {
  .calendar > #calendarMonth {
    font-size: 12px;
  }
}

@media (min-width: 1080px) {
  .calendar > #calendarMonth {
    font-size: 16px;
  }
}

.calendar > #calendarDate {
  border-radius: 0px 0px 4px 4px;
  border: 2px solid var(--Primary-Color, #5b7db1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  color: var(--Primary-Color);
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
}

@media (min-width: 720px) {
  .calendar > #calendarDate {
    font-size: 12px;
  }
}

@media (min-width: 1080px) {
  .calendar > #calendarDate {
    font-size: 16px;
  }
}

.website-header__title {
  margin-left: 16px;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

@media (min-width: 720px) {
  .website-header__title {
    margin-left: 32px;
    font-size: 22px;
  }
}

.website-header__filter-box {
  margin-left: auto;

  position: absolute;
  right: 0;
  top: 20%;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.filter-box__button {
  width: 34px;
  height: 22px;
  border: none;
  margin-bottom: -2px;

  background-color: #fff;
  background-image: url("../assets/images/svg/circle-dots.svg");
  background-size: cover;

  cursor: pointer;
}

.filter-box__button-expanded {
  padding: 8px;
  border-radius: 4px 4px 0px 0px;

  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
}

@media (min-width: 720px) {
  .filter-box__button {
    width: 42px;
    height: 30px;
  }
}

.filter-box__container {
  display: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  list-style: none;

  background-color: #fff;
  overflow: hidden;
}

.filter-box__container li:not(:last-child) {
  border-bottom: 0.25px solid rgba(26, 19, 47, 0.25);
}

.filter-box__container-active {
  display: block;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.filter-box__filter-task {
  display: block;
  padding: 8px 16px;
  border: none;

  background-color: #fff;

  color: rgba(26, 19, 47, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;

  cursor: pointer;
}

@media (min-width: 720px) {
  .filter-box__filter-task {
    padding: 16px 24px;
    font-size: 14px;
  }
}

.filter-box__filter-task input[type="radio"] {
  display: none;
}

.filter-box__filter-task input:checked + span {
  color: var(--primary-color);
}

.website-main-section {
  width: 80%;
  max-width: 1200px;
  margin: 54px auto 0 auto;
}

.tasks {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: none;
}

@media (min-width: 720px) {
  .tasks {
    margin-top: 84px;
  }
}

.task {
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.task-invisible {
  display: none;
}

.task:hover {
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.task:hover > .task__delete-icon {
  display: block;
}

.task__icon,
.task__delete-icon,
.new-task__button {
  display: block;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.task__icon {
  width: 20px;
  height: 20px;
  background: url("../assets/images/svg/icon__incomplete-task.svg");
  background-size: cover;
}

.task__icon-completed {
  background: url("../assets/images/svg/icon__completed-task.svg");
  background-size: cover;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.task__icon-completed + .task__text {
  text-decoration: solid 1px line-through;
}

.task__delete-icon {
  display: none;
  width: 22px;
  height: 22px;
  margin-left: auto;

  background-image: url("../assets/images/svg/icon__remove-task.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.task__text {
  display: inline-block;
  width: 70%;
  border: none;

  margin-left: 8px;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  color: inherit;
}

.task__text:focus {
  border-bottom: 1.25px solid var(--primary-color);
  outline: none;
}

@media (min-width: 720px) {
  .task__text {
    margin-left: 16px;
    font-size: 22px;
  }
}

.new-task-container {
  margin: 32px auto 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

@media (min-width: 720px) {
  .new-task-container {
    margin-top: 64px;

    justify-content: center;
  }
}

.new-task {
  padding: 8px;
  border: none;

  background: transparent;

  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
}

@media (min-width: 720px) {
  .new-task {
    gap: 16px;
  }
}

.new-task:hover {
  opacity: 0.7;
}

.new-task__button {
  width: 18px;
  height: 18px;
  background-image: url("../assets/images/svg/icon__new-task.svg");
  background-size: cover;
}

.new-task__text {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 720px) {
  .new-task__text {
    font-size: 22px;
  }
}
